.invalid-feedback{
    color : red;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.d-none {
    display: none !important;
}
.custom-error {
    border-bottom: 2px solid red;
}
.custom-success {
    border-bottom: 2px solid rgb(0, 167, 0);
}
.safari .swal2-input {
    width: auto !important;
}
.list-subscription {
    position: relative;
}
.list-subscription.active div > span {
    color: rgb(13, 116, 238);
}
.active-subscription-label {
    position: absolute;
    top: 0px;
    right: 0px;
}
@media (max-width: 575px) {
    .active-subscription-label {
        display: none;
    }
}
.set-default-method.disable {
    cursor: default;
}
#card-element {
    padding: 0px 10px 20px;
}
#card-element-errors {
    color: #eb1c26;
    font-size: 80%;
    padding-left: 10px;
    margin-top: -10px;
}
.header__logo img {
    max-height: 74px;
}

.feature-items img {
    width: 50px;
}
