.invalid-feedback{
    color : red;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.d-none {
    display: none !important;
}
.cursor-wait, .cursor-wait * {
    cursor: wait !important;
}
button {
    font-family: Inter, sans-serig;
}
.admin-header {
    background-color: white;
    display: flex;
    padding: 5px 10px;
}
.admin-header-item {
    padding: 0 5px;
}
.admin-header-item:not(:last-child) {
    border-right: 1px solid black;
}
.admin-header a {
    text-decoration: underline;
}
.admin-header a:hover {
    text-decoration: none;
}
.article__image_small {
    max-width: 50%;
}
.admin-only-post {
    margin: 0;
    color: red;
    font-size: 150%;
    text-align: center;
}
.screens-slider-two {
    display: flex;
    gap: 12px;
}


.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 24px;
}
.pagination .pagination-number {
    padding: 12px 17px;
    font-size: 15px;
    color: #e9e9ff;
    background-color: #161622;
    transition: all .3s;
    border-radius: 14px;
    border: 2px solid rgba(197,193,242,.1);
}
.pagination .active .pagination-number {
    background-color: rgb(119,44,251);
}
.pagination .pagination-number:hover {
    border-color: rgba(197, 193, 242, 0.273);
}
.pagination .disabled .pagination-side {
    color: #e9e9ffb0;
}
.pagination .pagination-side {
    color: #e9e9ff;
}
.pagination a.pagination-side:hover {
    color: #6842fe;
}
.pagination li:first-child {
    padding-right: 10px;
}
.pagination li:last-child {
    padding-left: 10px;
}
@media screen and (max-width: 800px) {
    .pagination {
        gap: 8px;
    }
    .pagination .pagination-number {
        padding: 7px 12px;
        font-size: 14px;
    }
    .pagination li:first-child {
        padding-right: 7px;
    }
    .pagination li:last-child {
        padding-left: 7px;
    }
    .pagination .pagination-side {
        font-size: 14px;
    }
    .pagination .pagination-side span {
        display: none;
    }
}
