.invalid-feedback{
    color : red;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.d-none {
    display: none !important;
}
.cursor-wait {
    cursor: wait !important;
}
button {
    font-family: Inter, sans-serig;
}
.admin-header {
    background-color: white;
    display: flex;
    padding: 5px 10px;
}
.admin-header-item {
    padding: 0 5px;
}
.admin-header-item:not(:last-child) {
    border-right: 1px solid black;
}
.admin-header a {
    text-decoration: underline;
}
.admin-header a:hover {
    text-decoration: none;
}
.article__image_small {
    max-width: 50%;
}
.admin-only-post {
    margin: 0;
    color: red;
    font-size: 150%;
    text-align: center;
}