/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    z-index: 200;
}
.header.not-home {
    background-color: var(--white);
    border-color: #EAEAEA; 
}
.header.fixed {
    background-color: var(--white);
    border-color: #EAEAEA;
}
.header__body {
    display: flex;
    align-items: center;
}
.header__menu {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__burger {
    display: none;
    overflow: hidden;
}
.menu__list {
    display: flex;
    align-items: center;
}
.menu__list li a {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
    position: relative;
    padding: 25px 0;
    overflow: hidden;
}
.menu__list li {
    padding: 0 20px;
}
.menu__list li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue-btn-bg);
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(4px);
    transition: all .2s ease-in-out;
}
.menu__list li a.active::after,
.menu__list li a:hover::after {
    transform: translateY(0px);
}
.menu__list li a.active,
.menu__list li a:hover {
    color: var(--title-color);
}
.buttons-group {
    display: flex;
    align-items: center;
}
.buttons-group .btn:not(:last-child) {
    margin-right: 10px;
}

/* footer */
.footer {
    background-color: var(--section-bg);
    border-top: 1px solid #DDE7F1;
}

.footer__top {
    display: flex;
    padding: 60px 0;
}
.footer__top-left {
    display: flex;
    flex-direction: column;
}
.footer__logo {
    margin-bottom: 25px;
}
.logo {
}
.footer__slogan {
    max-width: 211px;
    color: var(--font-light-blue);
}
.footer__top-right {
    flex: auto;
    display: flex;
    justify-content: flex-end;
}
.footer__menu {
    display: flex;
}
.footer__menu-item:not(:last-child) {
    margin-right: 70px;
}
.footer__menu-title {
    margin-bottom: 15px;
    color: var(--font-light-blue);
}
.footer__menu-list li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
    display: block;
    padding: 5px 0;
}
.footer__bottom {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.footer__bottom-privaci {
    
}
.footer__bottom-right {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer__bottom-links {
    display: flex;
    align-items: center;
}
.footer__bottom-links a {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-light-blue);
    padding: 0 12px;
    transition: all .2s ease-in-out;
}
.footer__bottom-links a:not(:last-child):after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--font-light-blue);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2px;
}
.footer__bottom-social {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.footer__bottom-social a:not(:last-child) {
    margin-right: 22px;
}

.footer__bottom-social a:hover {
    transform: scale(1.1);
}

/* login */
.sing-in {
    padding: 43px 0 20px;
    position: relative;
    background: linear-gradient(180deg, rgba(244, 249, 255, 0) 0%, #F4F9FF 100%);
    min-height: calc(100vh - 75px);
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
}

.divider::after, .divider::before {
    content: '';
    display: block;
    width: 45%;
    height: 1px;
    background-color: #EAEAEA;;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.divider::before {
    right: 0;
}

.divider::after {
    left: 0;
}

.sing-in__form {
    max-width: 410px;
    background-color: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 4px 8px rgba(91, 104, 113, 0.24);
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    z-index: 1;
}
.pt-74 {
    padding-top: 74px;
}
.sing-in__title {
    line-height: 29px;
    margin-bottom: 30px;
}
.login-from {
}
.login-from__item {
    display: flex;
    align-items: center;
    background: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
    transition: all 0.2s ease-in-out;
}
.login-from__item:hover {
    box-shadow: none;
}
.login-from__item:not(:last-child) {
    margin-bottom: 10px;
}
.login-from__item span {
    flex: auto;
    text-align: center;
}

.sing-in__form .input-group {
    margin-bottom: 15px;
}
.input-wrapper .input {
    padding-right: 40px;
}
.input-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 24px;
    height: 24px;    
}
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sing-in__form .form-row {
    margin-bottom: 15px;
}

.sing-in__form .btn {
    width: 100%;
    margin-bottom: 15px;
}

.login-form__text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.section-title {
    margin-bottom: 15px;
    text-align: center;
}
.section-subtitle {
    text-align: center;
}

.first-section-padding {
    padding: 50px 0 100px;
}
.contact-us__body .section-title {
    margin-bottom: 50px;
}
.pricing .section-subtitle {
    margin-bottom: 40px;
}

.pricing-actions {
    margin: 0 auto;
    max-width: max-content;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 9px;
    background-color: #FAFAFA;
    margin-bottom: 60px;
}
.pricing-actions__item {
    max-width: max-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 10px;
    border-radius: 7px;
    color: var(--font-light-blue);
}
.pricing-actions__item:not(:last-child) {
    margin-right: 3px;
}
.pricing-actions__item:hover {
    color:var(--title-color);
}
.pricing-actions__item.active {
    color: var(--title-color);
    background: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
}

.custom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.pricing-item {
    background: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
    border-radius: 10px;
    padding: 25px;
}
.pricing-item.recomend {
    transform: translateY(-20px);
}
.pricing-item__head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.pricing-item__head h3 {
    line-height: 30px;
    flex: auto;
}
.pricing-item__price {
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
    color: var(--title-color);
    margin-bottom: 20px;
}

.pricing-item__price span {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
.pricing-item__desc {
    margin-bottom: 20px;
}
.pricing-item__list {
    padding-bottom: 10px;
}
.pricing-item__list li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pricing-item__list li img {
    margin-right: 15px;
}
.pricing-item .btn {
    width: 100%;
}
.pricing-item .btn:disabled {
    background: #b0b1b3;
    border-color: #b0b1b3;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.247);;
}

.pricing-item__stiker {
    padding: 3px 10px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    background-color: #14CE8B;
    border-radius: 29px;
}

.contact-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.contact-data__item {
    display: flex;
    flex-direction: column;
}
.contact-data__item label {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}
.contact-data__item a {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
}
.contact-data .contact-data__item:not(:last-child) {
    margin-right: 40px;
}
.contact-form {
    padding: 30px;
    background-color: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 4px 8px rgba(91, 104, 113, 0.24);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.contact-form__row {
    display: flex;
    margin: 0 -10px 30px;
}
.contact-form__col {
    padding: 0 10px;
    flex: 0 0 50%;
}
.contact-form__col .input-group:not(:last-child) {
    margin-bottom: 15px;
}
.h-full {
    height: 100%;
}
textarea {
    resize: none;
}
.input-group textarea {
    height: 100%;
}
.contact-form .btn {
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
}
.custom-row.blog-news__row {
    gap:50px 35px;
}
.blog-news__body .section-title {
    margin-bottom: 50px;
}
.article-item:hover .article-item__img img{
    transform: scale(1.2);
}
.article-item__img {
    overflow: hidden;
    max-height: 240px;
    border-radius: 10px;
}
.article-item__img img {
    width: 100%;
    transition: all .2s ease;
}
.article-item a {
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.article-item__img:not(:last-child) {
    margin-bottom: 20px;
}
.article-item__title {
    font-size: 24px;
    line-height: 35px;
}
.article-item__title:not(:last-child) {
    margin-bottom: 20px;
}
.article-item__date {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: auto;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.pagination__list {
    display: flex;
    align-items: center;
    margin: 0 10px ;
}
.pagination__list li {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__list li:not(:last-child) {
    margin-right: 5px;
}
.pagination__list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3px;
    color: inherit;
}
.pagination__list li a:hover {
    color: var(--title-color);
}
.pagination__list li.active {
    color:var(--title-color);
    background: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
    border-radius: 5px;
    pointer-events: none;
}
.pagination__list-dots {
    pointer-events: none;
}
.pagination__next svg {
    margin-left: 7px;
}

.pagination__prev svg{
    margin-right: 7px;
}

.btn-disabled {
    color: #CDCDCD;
    pointer-events: none;
}

.post-page {
    padding: 50px 0;
}

.post-page__data {
    display: block;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.post-page .section-title {
    max-width: 790px;
    margin: 0 auto 50px;
}
.post-page__img {
    overflow: hidden;
    border-radius: 10px;
    max-height: 550px;
    margin-bottom: 50px;
}
.post-page__img img {
    width: 100%;
}
.post-page .text {
    max-width: 955px;
    margin: 0 auto 15px;
}
.text h3{
    line-height: 29px;
    margin-bottom: 15px;
}
.text p:not(:last-child){
    margin-bottom: 15px;
}

.text img {
    margin: 35px 0 50px;
}
.share__body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.share {
    padding: 20px 0;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}
.share__title {
    line-height: 30px;
    margin-right: 20px;
}
.share-links {
    display: flex;
    align-items: center;
}
.share-links__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
    border-radius: 5px;
}

.share-links__item:not(:last-child) {
    margin-right: 10px;
}
.share-links__item img {
    transition: all .2s ease;
}
.share-links__item:hover img{
    transform: scale(1.2);
}

.blog.inner {
    background-color: var(--white);
}

.blog.inner h2 {
    padding-bottom: 0;
}
.blog.inner .head-flex {
    align-items: center;
}
.blog .article-item__title:not(:last-child) {
    margin-bottom: 15px;
}

.fqa__body .section-subtitle{
    margin-bottom: 50px;
}
.acordeon {
    max-width: 995px;
    margin: 0 auto;
}
.accordion-list li {
    border-bottom: 1px solid #EAEAEA;
}
.accordion-list li h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    transition: all .2s ease-in-out;
}
.accordion-list li.active h4 {
    color: var(--blue-btn-bg);
}
.accordion-list li h4 img {
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}
.accordion-list li.active h4 img {
    transform: rotate(0);
}
.answer p{
    margin-bottom: 15px;
}
.answer {
    padding-bottom: 10px;
}

.card__item-head {
    display: flex;
    align-items: center;
}
.card__item-head .module__radio {
    flex: auto;
}
.card {
    background-color: var(--white);
    box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 4px 8px rgba(91, 104, 113, 0.24);
    border-radius: 10px;
}
.chekout__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
}
.chekout__col {
    flex: 0 0 50%;
    width: 50%;
    padding: 0 17px;
}
.card__item {
    padding: 20px;
}
.card__item:not(:last-child) {
    border-bottom: 1px solid #EAEAEA;
}
.chekout__body .section-subtitle {
    margin-bottom: 50px;
}
.chekout__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}
.card__item-img {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.card__item-img img:not(:last-child){
    margin-right: 20px;    
}
.card__item-bottom {
    margin-top: 20px;
}
.input-group-row {
    display: flex;
    margin: 0 -12px;
    
}
.card__item .input-group {
    margin-bottom: 15px;
}
.input-group-col-2 {
    flex: 0 0 50%;
    padding: 0 12px;
}

.summary-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 28px;
    color: var(--title-color);
}
.summary-row span {
    flex: auto;
}
.summary-row:not(:last-child) {
    margin-bottom: 20px;
}
.price {
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    color: var(--title-color);
}

.price span {
    font-size: 14px;
    color: var(--font-color);
}

.change-plan__current img {
    transition: all .2s ease-in-out;
    transform: rotate(180deg);
}

.price-next {
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.summary-row-wrapper {
    margin-bottom: 10px;
}

.card__item .btn {
    width: 100%;
   
}

.promo-code {
    margin-top: 15px;
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;  
    color: inherit;
}