.input-error {
    font-size: 80%;
    color: red;
}
.ids-column {
    width: 30px;
}
.actions-column-2 {
    width: 100px;
}
.mb-10 {
    margin-bottom: 10px;
}
.dataTable tbody td img{
    max-width: 80px;
}
.custom-file-preview {
    max-width: 80px;
}
