.rii-wrapper {

}
.rii-box {
    border: dashed 3px #41403E;
    text-align: center;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 90%;
    height: 101px;
    overflow: hidden;
}
.rii-box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.rii-box:hover {
    border-color: #0096ff;
}
.rii-inputs {
    width: 100%;
}
.rii-input {
    width: 100%;
    /* border-color: #6c757d; */
    height: calc(2rem);
}